.container-main{
    max-width: 1110px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.bg-clor{
    background-color: #FEEAE9;
}
.carousel-item img{
    width: 100%;
}
.carousel-item h2{
    color: #F22976;
}
.carousel-item{
    border-radius: 10px;
}
.pd{
    padding-left: 40px;
    padding-right: 20px;
}
.buy-now-button{
    background: #F22976;
    color: white;
    border: none;
    padding: 10px 30px;
    border-radius: 10px;
}
.img-sm{
    width: 100px;
}

.cat-1, .cat-2, .cat-3{
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
}
.cat-1{
    background: #FFA500;
}
.cat-2{
    background: #DA70D6;
}
.cat-3{
    background: #0000FF;
}
.card-edit{
    border: none;
    box-shadow: 8px 8px 30px rgba(185, 179, 179, 0.747);
    border-radius: 10px;
}
.card-footer{
    background: white;
    border: none;
}

.submit{
    height: 300px;
    border-radius: 10px;
}